<%= form_with(model: @team, local: true) do |form| %>
  <% if @team.errors.any? %>
    <div id="error_explanation">
      <h2><%= @team.errors.count %>件のエラーがあります。</h2>
      <ul>
      <% @team.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <strong>メンバーにご登録の方はこちらの<%= link_to 'メンバー専用', menu_member_path %>を押して、この画面をスキップしてください。</strong>
  <strong>チームのオーナー様はチームを作成してください。</strong>
  <strong>チームを作成すると、他のチームに所属することはできません。</strong>

  <div class="team_name">
    <%= form.label :name %>
    <%= form.text_field :name, placeholder: "チーム名" %>
  </div>
  <div class="team_remarks">
    <%= form.label :remarks %>
    <%= form.text_field :remarks, placeholder: "備考" %>
  </div>
  <%= form.submit %>
<% end %>
