<h4>メインメニュー</h4>
<div class="main_menu">
  <div class="box">
      <p><%= link_to '売上登録', new_team_sale_path(team_id: @team[0].id) %></br>商品の販売記録を扱います。</p>
  </div>
  <div class="box">
    <p><%= link_to '仕入登録', new_team_purchase_path(team_id: @team[0].id) %></br>商品の購入記録を扱います。</p>
  </div>
  <div class="box">
    <p><%= link_to '在庫受払帳', team_stocks_path(team_id: @team[0].id) %></br>商品の購入・販売履歴と</br>在庫数の推移を確認できます。</p>
  </div>
  <div class="box">
    <p><%= link_to '商品登録', team_products_path(team_id: @team[0].id)%></br>購入・販売する商品を登録します。</p>
  </div>
  <div class="box">
    <p><%= link_to '得意先登録', clients_path %></br>商品の販売先を登録します。</p>
  </div>
  <div class="box">
    <p><%= link_to '仕入先登録', suppliers_path %></br>商品の購入先を登録します。</p>
  </div>
    <%#= link_to '質問と回答', questions_path %>
  <div class="box">
    <% if !current_user.groupings.exists? %>
      <p><%= link_to 'チーム登録', new_team_path %></br>複数メンバーで使用するためにチームを登録します。
    <% else %>
      <p><%= link_to 'メンバー一覧画面', team_path(current_user.grouping_team) %></br>チームに所属しているメンバーを確認できます。
    <% end %>
  </div> 
</div>
<div class="description">
  <p>【ご利用方法】</p></br>
  <p>①：ユーザはまず「商品登録」へ進み、新規登録画面から商品を登録してください。</p>
  <p>②：次に、「仕入先登録」または「得意先登録」の画面に進み、</br>商品を購入したときの仕入先、商品を販売するときの得意先を、新規登録画面から登録してください。</p>
  <p>③：①と②を登録すると、売上と仕入を登録することができるようになります。</p>
</div>