<%= form_with(model: @purchase, local: true) do |form| %>
  <% if @purchase.errors.any? %>
    <div id="error_explanation">
      <h2><%= @purchase.errors.count %>件のエラーがあります。</h2>
      <ul>
      <% @purchase.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  
  <div class="purchase_date_at">
    <%= form.label :date_at %>
    <%= form.date_field :date_at, placeholder: "仕入日" %>
  </div>

  <div class="purchase_supplier_name">
    <%= form.label :supplier_name %>
    <%= form.collection_select(:supplier_id, Supplier.all, :id, :name, prompt: "選択してください") %>
  </div>

  <div class="purchase_inputter">
    <p>入力者:<%= current_user.name %></p>
    <%= form.hidden_field :inputter, value: current_user.id %> <!-- パラメータで入力者のidを渡すため。-->
  </div>

  <%= form.fields_for :purchase_details do |pd| %>
    <strong>
      <p>商品<%= "#{pd.index+1}" %></p>
    </strong>

    <%= pd.collection_select(:product_id, Product.all, :id, :name, prompt: "選択してください") %> <!-- @productsではundefined method `map' for nil:NilClassエラーになる。-->

    <div class="pd_quantity">
      <%= pd.label :個数 %>
      <%= pd.text_field :quantity %>
    </div>
  
    <div class="cost_price">
      <%= pd.label :原価 %>
      <%= pd.object.product.cost_price.to_i.to_s(:delimited) if pd.object.id.present?%>
    </div>

    <div class="regular_price">
      <%= pd.label :定価 %>
      <%= pd.object.product.regular_price.to_i.to_s(:delimited) if pd.object.id.present? %>
    </div>

    <% if pd.object.id.present? %>
      <div class="detail_total">
        <%= pd.label :商品合計 %>
        <%= pd.object.quantity * pd.object.product.cost_price %>
      </div>
    <% end %>

    <% if action_name != "new" && !pd.object.id.nil? %>
      <%= link_to "商品#{pd.index+1}を削除", detail_destroy_purchase_path(purchase_detail_id: pd.object.id), method: :delete %>
    <% end %>
  <% end %>
  
  <div class="total_amount">
      <%= form.label :合計金額 %>
      <%= @total_amount.to_i.to_s(:delimited) %><p>円</p>
  </div>

  <%= form.submit %>
<% end %>

<%= link_to 'メインメニュー', menus_path %>