<h4>仕入一覧</h4>
<p><%= notice %></p>
<%= link_to '新規登録', new_team_purchase_path(@team) %>

<table class="table table-striped">
  <tr>
    <th>仕入ID</th>
    <th>仕入日</th>
    <th>仕入先</th>
    <th>編集</th>
    <th>削除</th>
  </tr>
  <% @purchases.each do |pc| %>
    <tr>
      <td><%= pc.id %></td>
      <td><%= pc.date_at %></td>
      <td><%= Supplier.find(pc.supplier_id).name %></td>
      <td><%= link_to '編集', edit_team_purchase_path(@team, pc.id), class: "btn btn-success" %></td>
      <td><%= link_to "削除", team_purchase_path(@team, pc.id), method: :delete, class: "btn btn-danger" %></td>
    </tr>
  <% end %>
</table>
<%= link_to 'メインメニュー', menus_path %>