<h4>【管理者用】ユーザ一覧</h4>
<table class="table table-striped">
<thead>
  <tr>
    <th>ユーザID</th>
    <th>ユーザネーム</th>
    <th>Email</th>
    <th>電話番号</th>
    <th>ニックネーム</th>
    <th>admin</th>
  </tr>
</thead>
<tbody>
  <% @users.each do |user| %>
    <tr>
      <td><%= user.id %></td>
      <td><%= user.name %></td>
      <td><%= user.email %></td>
      <td><%= user.phone_number %></td>
      <td><%= user.nickname %></td>
      <td><%= user.admin %></td>
    </tr>
  <% end %>
</tbody>
</table>