<h1>商品一覧</h1>
<p><%= notice %></p>
<%= link_to '新規登録', new_team_product_path(@team) %>

<table class="table table-striped">
  <tr>
    <th>商品コード</th>
    <th>商品名</th>    
    <th>売価</th>
    <th>原価</th>
    <th>定価</th>
  </tr>
  <% @products.each do |p| %>
    <tr>
      <td><%= p.code %></td>
      <td><%= p.name %></td>
      <td><%= p.selling_price.to_i.to_s(:delimited) %></td>
      <td><%= p.cost_price.to_i.to_s(:delimited) %></td>
      <td><%= p.regular_price.to_i.to_s(:delimited) %></td>
      <td><%= link_to '編集', edit_team_product_path(@team, p.id) %></td>      
    </tr>
  <% end %>
</table>

<%= link_to 'メインメニュー', menus_path %>