<h2>仕入先一覧</h2>
<p><%= notice %></p>
<%= link_to '新規登録', new_supplier_path %>

<table class="table table-striped">
  <tr>
    <th>仕入先ID</th>
    <th>仕入先名</th>
    <th>電話番号</th>
    <th>FAX番号</th>
    <th>住所</th>
    <th>備考</th>
  </tr>
  <% @suppliers.each do |s| %>
    <tr>
      <td><%= s.id %></td>
      <td><%= s.name %></td>
      <td><%= s.phone_number %></td>
      <td><%= s.fax_number %></td>
      <td><%= s.address %></td>
      <td><%= s.remarks %></td>
      <td><%= link_to '編集', edit_supplier_path(s.id) %></td>
    </tr>
  <% end %>
</table>

<%= link_to 'メインメニュー', menus_path %>